$transition-distance: .3s;

.rq-zoom-in-top-enter-active,
.rq-zoom-in-top-leave-active {
  opacity: 1;
  transform: translateY(0) scaleY(1);
  transition: all $transition-distance;
  transform-origin: center top;
}
.rq-zoom-in-top-enter,
.rq-zoom-in-top-leave-active {
  pointer-events: none;
  opacity: 0;
  transform: translateY(-10%) scaleY(0.4);
}

.rq-fade-in-linear-item {
  transition: all 1s;
  display: inline-block;
}
.rq-fade-in-linear-enter-active,
.rq-fade-in-linear-leave-active {
  transition: all $transition-distance;
}
.rq-fade-in-linear-enter,
.rq-fade-in-linear-leave,
.rq-fade-in-linear-leave-active,
.rq-fade-in-item-move {
  opacity: 0;
}
