@use "sass:meta";
$max-vw: 1440px;
$medium-vw: 1280px;
$min-vw: 1024px;
$namespace: rq;
$component: null;

@mixin desktop {
  @media screen and (min-width: $medium-vw) {
    @content;
  }
}
@mixin laptop {
  @media screen and (max-width: $medium-vw) {
    @content;
  }
}

@mixin pad {
  @media screen and (max-width: $min-vw) {
    @content;
  }
}

@mixin pc {
  @media screen and (min-width: $min-vw) {
    @content;
  }
}

@mixin reset {
  ::v-deep {
    button {
      cursor: pointer;
      outline: none;
      background: transparent;
      border: none;
      color: inherit;
    }
    p {
      margin: 0;
    }
    &,
    * {
      box-sizing: border-box;
    }
  }
}

@mixin block($block) {
  $name: $namespace;

  @if ($component) {
    $name: $name + "-" + $component;
  }
  @if $block {
    $name: $name + "-" + $block;
  }
  .#{$name} {
    @content;
  }
}

@mixin t-center-vertical {
  top: 50%;
  transform: translateY(-50%);
}

@mixin t-center-horizontal($translateY: 0) {
  left: 50%;
  transform: translate(-50%, $translateY);
}

@mixin t-center {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

@mixin f-center($justify-content: center, $align-items: center) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin f-column($align-item: center) {
  display: flex;
  justify-content: center;
  align-items: $align-item;
  flex-direction: column;
}

@mixin click-scale {
  transition: all 0.2s;
  &:active {
    transform: scale(1.1);
  }
}
