$medium-vw: 1280px;
$namespace: rq;
$component: null;

@mixin reset {
  ::v-deep {
    button {
      cursor: pointer;
      outline: none;
      background: transparent;
      border: none;
      color: inherit;
    }
    p {
      margin: 0;
    }
    &,
    * {
      box-sizing: border-box;
    }
  }
}

@mixin block($block) {
  $name: $namespace;

  @if $component {
    $name: $name + "-" + $component;
  }
  @if $block {
    $name: $name + "-" + $block;
  }
  .#{$name} {
    @content;
  }
}

@mixin t-center-vertical {
  top: 50%;
  transform: translateY(-50%);
}

@mixin t-center-horizontal($translateY: 0) {
  left: 50%;
  transform: translate(-50%, $translateY);
}

@mixin t-center {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

@mixin f-center($justify-content: center) {
  display: flex;
  justify-content: $justify-content;
  align-items: center;
}

@mixin f-column($align-items: center) {
  display: flex;
  justify-content: center;
  align-items: $align-items;
  flex-direction: column;
}
