@import "@rqjs/rqthemes/lib/vars.css";

.theme-light {
  --warning-bg: hsl(49, 100%, 50%);
  --tooltip-border: var(--bg-primary);
  --road-show-active-bg: hsl(216, 89%, 41%);
  --road-show-text: var(--bg-primary);
  --tooltip-weak-bg: hsl(216, 70%, 30%);
}

.theme-dark {
  --warning-bg: var(--primary-color);
  --tooltip-border: var(--primary-color-8);
  --road-show-active-bg: hsl(216, 89%, 41%);
  --road-show-text: hsla(220, 3%, 19%, 1);
  --tooltip-weak-bg: var(--white);
}
