@import "./variables";

@mixin full-vw {
  width: 100%;
  min-width: $min-vw;
}

@mixin text($color: $text, $font-size: 14) {
  font-size: $font-size + px;
  color: $color;
  line-height: 1.5;
  font-weight: 500;
}

@mixin rg-text($color: $text) {
 @include text($color, 16);
  font-weight: 400;
}

@mixin mini-text($color: $text) {
  @include text($color, 12);
  font-weight: 300;
}

@mixin h1($color: $text) {
  @include text($color, 36);
  font-weight: 500;
}

@mixin h3($color: $text) {
  @include text($color, 24);
  font-weight: 500;
}

@mixin h4($color: $text) {
  @include text($color, 20);
  font-weight: 500;
}

@mixin h5($color: $text) {
  @include text($color, 18);
  font-weight: 700;
}

@mixin t-center-horizontal {
  left: 50%;
  transform: translateX(-50%);
}

@mixin t-center-vertical {
  top: 50%;
  transform: translateY(-50%);
}

@mixin t-center {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

@mixin m-center-horizontal {
  right: 0;
  left: 0;
  margin: auto;
}

@mixin m-center-vertical {
  top: 0;
  bottom: 0;
  margin: auto;
}

@mixin m-center {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

@mixin f-center {
  display: flex;
  justify-content: center;
}

@mixin f-column {
  @include f-center;
  flex-direction: column;
  align-items: center;
}

@mixin debug {
  box-sizing: border-box;
  border: 1px solid gold;
  * {
    box-sizing: border-box;
    border: 1px solid gold;
  }
}

@mixin hover($color: $highlight) {
  cursor: pointer;
  transition: color .1s;
  &:hover {
    color: $color;
  }
}

@mixin hover-scale {
  cursor: pointer;
  transition: all .2s;
  &:hover {
    transform: scale(1.02);
    box-shadow: 0px 0 12px 0px rgba(45,54,158, 0.1);
  }
}

@mixin img-center {
  width: 100%;
  height: 100%;
  object-fit:cover;
}

@mixin flex-item {
  position: relative;
  box-sizing: border-box;
  padding-top: 20px;
  @for $i from 1 through 6 {
    &.col-#{$i} {
      width: (100% / $i);
      &:nth-child(#{$i}n + 1) {
        padding-left: 0;
      }
    }
  }
  & + & {
    padding-left: 20px;
  }
}
