$min-vw: 1280px;
$article-width: 1170px;

$bg-white: #ffffff;

$container-bg: #f7f8fa;

$text: #666666;
$text-gray-light: #6D6D6D;
$text-dark: #333;
$text-white: #ffffff;

$rq-red: #d74848;
$rq-green: #50bf80;

$highlight: #1b5fc4;

$avatar-bg: #4768d35e;