@import "../../common//style//mixins.scss";
$component: header;

@mixin icon-container($icon-name, $font-size: 20, $padding: 5) {
  padding: $padding + px;
  border-radius: 4px;
  cursor: pointer;
  font-size: #{$font-size}px;
  color: rqthemify(--text-gray);
  display: flex;
  align-items: center;
  box-sizing: border-box;
  .#{$icon-name} {
    font-size: inherit;
    &.active-icon {
      display: none;
    }
  }

  &:hover,
  &:active,
  &.is-icon-active {
    color: rqthemify(--text-hover);
    .#{$icon-name} {
      display: none;
      &.active-icon {
        display: inline-block;
      }
    }
  }

  &:active,
  &.is-icon-active {
    box-shadow: 0px 4px 4px rqthemify(--shadow-dropdown);
    background-color: rqthemify(--primary-color-1);
  }
  &.is-icon-active:hover {
    background-color: rqthemify(--primary-color-3);
  }
}

@mixin dropdown {
  background: rqthemify(--background-final);
  box-shadow: 0px 0px 8px rqthemify(--shadow-dropdown);
  border-radius: 4px;
  position: absolute;
  right: 0;
  top: 100%;
  transform: translateY(2px);
}

@mixin tooltip-wrapper {
  position: relative;
  @include block(tooltip) {
    display: none;
  }
  &:hover {
    @include block(tooltip) {
      display: block;
    }
  }
  &.is-tooltip-hidden {
    @include block(tooltip) {
      display: none;
    }
  }
}
